/*------------GLOBAL STYLES------------*/
body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

* {
  font-family: "dm sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --pink: #ec4899;
  --green: #a3e635;
  --blue: #22d3ee;
}

a {
  text-decoration: none;
  color: black;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem;
}

.header-navigation {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.header-navigation li {
  position: relative;
  background-color: var(--green);
  font-size: 1.125rem;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: transform 0.3s ease-in-out;
}
.header-navigation li:hover {
  transform: scale(1.15);
}

.header-navigation li.currentpage::before {
  content: "";
  position: absolute;
  top: -10px; /* how far above the li it sits */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* left side of triangle */
  border-right: 10px solid transparent; /* right side of triangle */
  border-top: 10px solid var(--green); /* upside down (points down) */
}
.header-navigation li.currentpage:hover {
  transform: none;
}

/*FOOTER*/
footer {
  background: linear-gradient(to right, #a3e635, #ec4899, #22d3ee);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.125rem;
}

footer h3,
.footer-navigation,
.socials-list,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation li,
.contact,
.socials {
  line-height: 2.3rem;
}

.footer-navigation li:hover {
  text-decoration: underline;
}

.socials-list li {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.socials i {
  margin-right: 1rem;
}

.contact p {
  margin-bottom: 1.5rem;
}
