/*---------------------------GLOBAL STYLES---------------------------*/
/*-------------------------------------------------------------------*/
body {
  margin: 0;
  height: 100%;
}

main {
  margin-left: 4rem;
  margin-right: 4rem;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

h1 {
  color: var(--pink);
  font-weight: 900;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.pink {
  color: var(--pink);
}

* {
  font-family: "dm sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --pink: #ec4899;
  --green: #a3e635;
  --blue: #22d3ee;
}

a {
  text-decoration: none;
  color: black;
}

/*---HEADER---*/
header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.webpagelogo {
  width: 220px;
  height: auto;
}

.header-navigation {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.header-navigation li {
  position: relative;
  background-color: var(--green);
  font-size: 1.125rem;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: transform 0.3s ease-in-out;
}
.header-navigation li:hover {
  transform: scale(1.15);
}

.header-navigation li.currentpage::before {
  content: "";
  position: absolute;
  top: -10px; /* how far above the li it sits */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* left side of triangle */
  border-right: 10px solid transparent; /* right side of triangle */
  border-top: 10px solid var(--green); /* upside down (points down) */
}
.header-navigation li.currentpage:hover {
  transform: none;
}

.mobile-only {
  display: none;
}
/*---FOOTER---*/
footer {
  background: linear-gradient(to right, #a3e635, #ec4899, #22d3ee);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.125rem;
  margin-top: 6rem;
}

footer h3,
.footer-navigation,
.socials-list,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation li,
.contact,
.socials {
  line-height: 2.3rem;
}

.footer-navigation li:hover {
  text-decoration: underline;
}

.socials-list li {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.socials i {
  margin-right: 1rem;
}

.contact p {
  margin-bottom: 1.5rem;
  text-decoration: none;
}

/*------------------------------------HERO IMAGES------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.homepage-hero {
  background-image: url(Images/robotics_girl.jpg);
  background-position: center;
  position: relative;
  height: 31.25rem;
}

.about-hero {
  background-image: url(Images/science_museum.jpg);
}

.homepage-hero,
.about-hero,
.exhibitions-hero,
.explore-hero,
.visitus-hero,
.prices-hero,
.specialevents-hero,
.getinvolved-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 35%;
  position: relative;
  max-width: 100%;
  height: 25rem;
}

.exhibitions-hero {
  background-image: url(Images/ecology.jpg);
}

.explore-hero {
  background-image: url(Images/planet_earth.jpg);
  background-position: center;
}

.visitus-hero {
  background-image: url(Images/parking_lot_canva.jpg);
  background-position: center;
}

.prices-hero {
  background-image: url(Images/museum_prices_and_opening.jpg);
  background-position: 50% 25%;
}

.specialevents-hero {
  background-image: url(Images/energetica_exhibition_illustration.jpg);
}

.getinvolved-hero {
  background-image: url(Images/group_of_people.jpg);
  background-position: center;
}

/*------------------------------------HOMEPAGE------------------------------------*/
/*--------------------------------------------------------------------------------*/
.mammoth-skeleton,
.energetica-img2,
.energetica-img {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  max-width: 100%;
  min-height: 20rem;
}

.energetica-img2 {
  background-image: url(Images/energetica_exhibition_illustration2.jpg);
}
.mammoth-skeleton {
  background-image: url(Images/mammoth_skeleton.jpg);
}
.energetica-img {
  background-image: url(Images/energetica_exhibition_illustration.jpg);
}

.homepage-exhibitions,
.energetica-homepage {
  display: flex;
  align-items: stretch;
}

.homepage-exhibitions {
  gap: 2rem;
  margin-bottom: 3rem;
}
.homepage-paragraph {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.bold-text {
  font-weight: 700;
}

.homepage-paragraph p {
  margin-bottom: 1.5rem;
}

.energetica-exhibition-text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.energetica-exhibition-text p {
  margin-bottom: 1.5rem;
}

.energetica-homepage {
  align-items: center;
}

.energetica-img {
  flex: 1;
  align-items: stretch;
}

.energetica-exhibition-text {
  flex: 1;
}

.exhibitions-homepage {
  background-color: var(--green);
  flex: 1;
}

.specialevents-homepage {
  background-color: var(--blue);
  flex: 1;
}

.energetica-homepage {
  background-color: var(--pink);
}
.opening-hours-mobile {
  display: none;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10%;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  margin: 4rem auto 0 auto;
  background-color: var(--green);
}
.opening-hours-mobile-text {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

/*------------------------------------EXHIBITIONS------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.exhibitions-text,
.specialevents-anchor {
  text-align: center;
}

.specialevents-anchor h2 {
  color: var(--pink);
}
.exhibitions-text,
.specialevents-anchor p {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 3rem;
}

.cosmology-img {
  background-image: url(Images/galaxy.jpg);
}
.evolution-img {
  background-image: url(Images/mammoth_ai-generated-8554191_640.jpg);
}
.biology-img {
  background-image: url(Images/petri_dish.jpg);
}
.robotics-img {
  background-image: url(Images/kids_with_robot.jpg);
}
.ecology-img {
  background-image: url(Images/ecology.jpg);
}

.cosmology-img,
.evolution-img,
.biology-img,
.robotics-img,
.ecology-img {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  max-width: 100%;
  min-height: 20rem;
}

.cosmology-section,
.evolution-section,
.biology-section,
.robotics-section,
.ecology-section {
  display: flex;
  align-items: stretch;
}

.cosmology-section div,
.evolution-section div,
.biology-section div,
.robotics-section div,
.ecology-section div {
  flex: 1;
}

.cosmology-section,
.robotics-section {
  background-color: var(--green);
}
.evolution-section,
.ecology-section {
  background-color: var(--pink);
}
.biology-section {
  background-color: var(--blue);
}

.exhibitions-sections {
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.cosmology-text,
.evolution-text,
.biology-text,
.robotics-text,
.ecology-text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.exhibitions-sections p {
  margin-bottom: 1rem;
}

/*------------------------------------SPECIAL EVENTS------------------------------------*/
/*--------------------------------------------------------------------------------------*/
.aeronautics-professor-img {
  background-image: url(Images/aeronautic_professor.jpg);
}
.nightatmuseum-img {
  background-image: url(Images/dinosaur_skeleton.jpg);
}
.energetica-img22 {
  background-image: url(Images/energetica_exhibition_illustration2.jpg);
}

.aeronautics-professor-img,
.nightatmuseum-img,
.energetica-img22 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  max-width: 100%;
  align-items: stretch;
  min-height: 20rem;
}

.specialevents-section2 {
  display: flex;
  gap: 2rem;
}
.energetica-exhibition {
  display: flex;
  margin-bottom: 3rem;
}

.energetica-exhibition-text,
.energetica-img22 {
  flex: 1;
}
.aeronautics-professor-section-text,
.nightatmuseum-section-text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.energetica-exhibition {
  background-color: var(--pink);
}
.aeronautics-professor-section {
  background-color: var(--blue);
}
.nightatmuseum-section {
  background-color: var(--green);
}
/*------------------------------------ABOUT US------------------------------------*/
/*--------------------------------------------------------------------------------*/
.about-info-1-img {
  background-image: url(Images/dna.jpg);
}
.about-info-2-img {
  background-image: url(Images/test_tube_colorful.jpg);
}
.about-info-3-img {
  background-image: url(Images/dinosaur_skeletons.jpg);
}

.about-info-1-img,
.about-info-2-img,
.about-info-3-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 13rem;
  max-width: 100%;
}
.about-info-1,
.about-info-2,
.about-info-3 {
  display: flex;
  align-items: stretch;
}
.about-info-1 div,
.about-info-2 div,
.about-info-3 div {
  flex: 1;
}
.about-info-1,
.about-info-2 {
  margin-bottom: 2rem;
}
.about-info-1-text,
.about-info-3-text {
  margin-right: 1.5rem;
}
.about-info-2-text {
  margin-left: 1.5rem;
}
.about-info-1-text p,
.about-info-2-text p,
.about-info-3-text p {
  margin-bottom: 1rem;
}

/*------------------------------------GET INVOLVED------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.support-img {
  background-image: url(Images/girls_math.jpg);
}
.volunteer-img {
  background-image: url(Images/volunteer.jpg);
}
.internship-img {
  background-image: url(Images/student.jpg);
}

.support-img,
.volunteer-img,
.internship-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 15rem;
}
.support,
.volunteer,
.internship {
  display: flex;
  align-items: stretch;
}
.support div,
.volunteer div,
.internship div {
  flex: 1;
}
.pink {
  color: var(--pink);
}
.support,
.volunteer {
  margin-bottom: 3rem;
}
.support-text,
.volunteer-text,
.internship-text {
  margin-right: 1.5rem;
}
.support-text p,
.volunteer-text p,
.internship-text p {
  margin-bottom: 1rem;
}
.get-involved h2 {
  margin-top: 0;
}
/*------------------------------------EXPLORE----------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.for-kids-img {
  background-image: url(Images/boy_doing_science.jpg);
}
.for-teachers-img {
  background-image: url(Images/teacher.jpg);
}
.for-researchers-img {
  background-image: url(Images/researcher.jpg);
}

.for-kids-img,
.for-teachers-img,
.for-researchers-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 15rem;
}
.for-teachers-img {
  background-position: 50% 10%;
}
.for-kids,
.for-teachers,
.for-researchers {
  display: flex;
  align-items: stretch;
}
.for-kids div,
.for-teachers div,
.for-researchers div {
  flex: 1;
}

.for-kids,
.for-teachers {
  margin-bottom: 3rem;
}
.for-kids-text,
.for-teachers-text,
.for-researchers-text {
  margin-right: 1.5rem;
}
.for-kids-text p,
.for-teachers-text p,
.for-researchers-text p {
  margin-bottom: 1rem;
}
.explore h2 {
  margin-top: 0;
}
/*------------------------------------VISIT US----------------------------------------*/
/*------------------------------------------------------------------------------------*/
iframe {
  width: 100%;
}
.address {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.parking,
.by-bus,
.accessibility,
.food-and-drink {
  margin-bottom: 3rem;
}
/*------------------------------------PRICES AND OPENING HOURS----------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
.prices p,
.opening-hours p {
  margin-bottom: 1rem;
}

.prices {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.hidden-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.book-guided-tour {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 3rem;
}

.book-guided-tour input,
.book-guided-tour select,
.book-guided-tour textarea {
  margin-bottom: 1rem;
  display: block;
  padding: 0.8rem;
  border: 1px solid #999;
  border-radius: 0.4rem;
  font-size: 1rem;
}
.book-guided-tour select,
.book-guided-tour input[type="date"] {
  color: black;
}
.book-guided-tour textarea {
  min-height: 8rem;
}
.submitt-button {
  width: 35%;
  background-color: var(--green);
  color: black;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.4rem;
}
.button-wrapper button:hover {
  background-color: #8bc12b;
  color: black;
  cursor: pointer;
}

/*------------------------------------MEDIA QUERIES----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*----OTHER BREAKPOINTS----*/

@media (min-width: 1900px) {
  main {
    margin-right: 18rem;
    margin-left: 18rem;
  }
}
@media (min-width: 1600px) and (max-width: 1899px) {
  main {
    margin-right: 10rem;
    margin-left: 10rem;
  }
}
@media (max-width: 1162px) {
  .header-navigation a {
    font-size: 1rem;
  }
  .header-navigation {
    gap: 0.8rem;
  }
  footer {
    gap: 7rem;
  }
}
@media (max-width: 1036px) {
  .webpagelogo {
    width: 170px;
  }
  .header-navigation a {
    font-size: 0.9rem;
  }
}
/*Large desktop (1025px-1366px)*/

/*Landscape tablets and laptops (769px-1024px)*/
@media (max-width: 1024px) {
  .mammoth-skeleton,
  .energetica-img2,
  .energetica-img {
    min-height: 18rem;
  }
  .book-guided-tour {
    width: 70%;
  }
}
/*----HAMBURGER MENU----*/
#hamburger-menu {
  display: none;
}
.hamburger-icon {
  display: none;
  font-size: 2rem;
  margin-top: 1rem;
}
.close-button {
  display: none;
  position: absolute;
  margin-top: 1rem;
  margin-right: 2rem;
  color: white;
}

/*---------------------------TABLET (481px - 768px)--------------------------*/

/*Hamburger menu*/
@media (max-width: 806px) {
  .mobile-only {
    display: block;
  }
  .header-navigation li.currentpage::before {
    display: none;
  }
  .hamburger-icon {
    display: flex;
  }
  header {
    display: flex;
  }
  .nav-icon {
    justify-content: flex-end;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    transform: translatey(-100%);
    transition: transform 0.4s ease-in-out;
  }
  .header-navigation li {
    background: none;
  }
  .header-navigation a {
    color: white;
  }
  #hamburger-menu:checked ~ nav {
    transform: translatey(0);
  }
  #hamburger-menu:checked ~ .hamburger-icon {
    display: none;
  }
  .header-navigation {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  .close-button {
    display: block;
    font-size: 1.5rem;
    position: absolute;
    top: 1.5rem;
    right: 0.1rem;
  }
  /*Page content*/
  main {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.875rem;
  }
  /*Homepage*/
  .mammoth-skeleton,
  .energetica-img,
  .energetica-img2 {
    min-height: 15rem;
  }

  .homepage-paragraph p {
    margin-bottom: 1rem;
  }
  .opening-hours-mobile {
    display: block;
  }
  /*Exhibitions page*/
  .exhibitions-text,
  .specialevents-anchor p {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  /*Prices and opening hours*/
  .book-guided-tour {
    width: 60%;
  }
  /*Footer*/
  h3 {
    font-size: 1.125rem;
  }
  .socials i {
    margin-right: 0.5rem;
  }
}
@media (max-width: 768px) {
  .homepage-exhibitions {
    flex-direction: column;
  }
  .energetica-homepage {
    display: block;
  }
  .energetica-exhibition-text {
    padding-bottom: 1rem;
  }
  /*Explore*/
  .for-kids,
  .for-teachers,
  .for-researchers {
    flex-direction: column;
  }
  .for-kids-text,
  .for-researchers-text,
  .for-teachers-text {
    text-align: center;
    margin: 0;
  }
  .for-teachers-img {
    background-position: 50% 20%;
  }
}
/*----------------------------MOBILE (320px - 480px)------------------------*/
@media (max-width: 567px) {
  .homepage-hero,
  .about-hero,
  .exhibitions-hero,
  .explore-hero,
  .visitus-hero,
  .prices-hero,
  .specialevents-hero,
  .getinvolved-hero {
    height: 18rem;
  }
  /*Prices and opening hours*/
  .book-guided-tour {
    width: 90%;
  }
  .submitt-button {
    width: 45%;
  }
}
@media (max-width: 320px) {
  .close-button {
    right: 1rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .hamburger-icon {
    margin-top: 0.5rem;
  }
  .webpagelogo {
    width: auto;
    height: 2.5rem;
  }
  main {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .homepage-hero,
  .about-hero,
  .exhibitions-hero,
  .explore-hero,
  .visitus-hero,
  .prices-hero,
  .specialevents-hero,
  .getinvolved-hero {
    height: 14rem;
  }
  .about-hero {
    background-position: 50% 20%;
  }
  .prices-hero {
    background-position: 30% 10%;
  }
  .homepage-exhibitions {
    flex-direction: column;
  }
  .energetica-homepage {
    display: block;
  }

  .mammoth-skeleton,
  .energetica-img2,
  .energetica-img {
    min-height: 10rem;
  }
  .energetica-img {
    height: 10rem;
  }
  /*Exhibitions*/
  .exhibitions-text,
  .specialevents-anchor p {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  .cosmology-section,
  .evolution-section,
  .biology-section,
  .robotics-section,
  .ecology-section {
    flex-direction: column;
  }
  .cosmology-img,
  .evolution-img,
  .biology-img,
  .robotics-img,
  .ecology-img {
    min-height: 13rem;
  }
  /*Special events*/
  .energetica-exhibition,
  .specialevents-section2 {
    flex-direction: column;
  }
  .energetica-img22,
  .aeronautics-professor-img,
  .nightatmuseum-img {
    min-height: 13rem;
  }
  /*About us*/
  .about-info-1,
  .about-info-3 {
    flex-direction: column;
  }
  .about-info-2 {
    flex-direction: column-reverse;
  }
  .about-info-1-text,
  .about-info-2-text,
  .about-info-3-text {
    text-align: center;
    margin: 0;
  }
  .about h2 {
    text-align: center;
  }

  /*Get involved*/
  .support,
  .volunteer,
  .internship {
    flex-direction: column;
  }
  .support-text,
  .volunteer-text,
  .internship-text {
    text-align: center;
    margin: 0;
  }
  /*Footer*/
  footer {
    flex-direction: column;
    gap: 2rem;
  }
  .contact {
    text-align: center;
  }
  .contact p {
    line-height: 1.6rem;
  }
  .socials {
    line-height: 1.5rem;
  }
  .socials h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .socials-list {
    display: flex;
    gap: 1.5rem;
  }
  .socials-list li {
    flex-direction: column;
  }
}
