/*---------------------------GLOBAL STYLES---------------------------*/
/*-------------------------------------------------------------------*/
body {
  margin: 0;
  height: 100%;
}

main {
  margin-left: 8rem;
  margin-right: 8rem;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

h1 {
  color: var(--pink);
  font-weight: 900;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.pink {
  color: var(--pink);
}

* {
  font-family: "dm sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --pink: #ec4899;
  --green: #a3e635;
  --blue: #22d3ee;
}

a {
  text-decoration: none;
  color: black;
}

/*---HEADER---*/
header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.header-navigation {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.header-navigation li {
  position: relative;
  background-color: var(--green);
  font-size: 1.125rem;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: transform 0.3s ease-in-out;
}
.header-navigation li:hover {
  transform: scale(1.15);
}

.header-navigation li.currentpage::before {
  content: "";
  position: absolute;
  top: -10px; /* how far above the li it sits */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* left side of triangle */
  border-right: 10px solid transparent; /* right side of triangle */
  border-top: 10px solid var(--green); /* upside down (points down) */
}
.header-navigation li.currentpage:hover {
  transform: none;
}

/*---FOOTER---*/
footer {
  background: linear-gradient(to right, #a3e635, #ec4899, #22d3ee);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.125rem;
  margin-top: 6rem;
}

footer h3,
.footer-navigation,
.socials-list,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation li,
.contact,
.socials {
  line-height: 2.3rem;
}

.footer-navigation li:hover {
  text-decoration: underline;
}

.socials-list li {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.socials i {
  margin-right: 1rem;
}

.contact p {
  margin-bottom: 1.5rem;
}

/*------------------------------------HERO IMAGES------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.homepage-hero {
  background-image: url(Images/robotics_girl.jpg);
  background-position: center;
  position: relative;
  height: 31.25rem;
}

.about-hero {
  background-image: url(Images/science_museum.jpg);
}

.homepage-hero,
.about-hero,
.exhibitions-hero,
.explore-hero,
.visitus-hero,
.prices-hero,
.specialevents-hero,
.getinvolved-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 35%;
  position: relative;
  max-width: 100%;
  height: 25rem;
}

.exhibitions-hero {
  background-image: url(Images/ecology.jpg);
}

.explore-hero {
  background-image: url(Images/planet_earth.jpg);
  background-position: center;
}

.visitus-hero {
  background-image: url(Images/parking_lot_canva.jpg);
  background-position: center;
}

.prices-hero {
  background-image: url(Images/museum_prices_and_opening.jpg);
  background-position: 50% 25%;
}

.specialevents-hero {
  background-image: url(Images/energetica_exhibition_illustration.jpg);
}

.getinvolved-hero {
  background-image: url(Images/group_of_people.jpg);
  background-position: center;
}

/*------------------------------------HOMEPAGE------------------------------------*/
/*--------------------------------------------------------------------------------*/
.mammoth-skeleton,
.energetica-img2,
.energetica-img {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  max-width: 100%;
  min-height: 20rem;
}

.energetica-img2 {
  background-image: url(Images/energetica_exhibition_illustration2.jpg);
}
.mammoth-skeleton {
  background-image: url(Images/mammoth_skeleton.jpg);
}
.energetica-img {
  background-image: url(Images/energetica_exhibition_illustration.jpg);
}

.homepage-exhibitions,
.energetica-homepage {
  display: flex;
  align-items: stretch;
}

.homepage-exhibitions {
  gap: 2rem;
  margin-bottom: 3rem;
}
.homepage-paragraph {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.bold-text {
  font-weight: 700;
}

.homepage-paragraph p {
  margin-bottom: 1.5rem;
}

.energetica-exhibition-text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.energetica-exhibition-text p {
  margin-bottom: 1.5rem;
}

.energetica-homepage {
  align-items: center;
}

.energetica-img {
  flex: 1;
  height: 20rem;
}

.energetica-exhibition-text {
  flex: 1;
}

.exhibitions-homepage {
  background-color: var(--green);
  flex: 1;
}

.specialevents-homepage {
  background-color: var(--blue);
  flex: 1;
}

.energetica-homepage {
  background-color: var(--pink);
}

/*------------------------------------EXHIBITIONS------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.exhibitions-text,
.specialevents-anchor {
  text-align: center;
}

.specialevents-anchor h2 {
  color: var(--pink);
}
.exhibitions-text,
.specialevents-anchor p {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 3rem;
}

.cosmology-img {
  background-image: url(Images/galaxy.jpg);
}
.evolution-img {
  background-image: url(Images/mammoth_ai-generated-8554191_640.jpg);
}
.biology-img {
  background-image: url(Images/petri_dish.jpg);
}
.robotics-img {
  background-image: url(Images/kids_with_robot.jpg);
}
.ecology-img {
  background-image: url(Images/ecology.jpg);
}

.cosmology-img,
.evolution-img,
.biology-img,
.robotics-img,
.ecology-img {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  max-width: 100%;
}

.cosmology-section,
.evolution-section,
.biology-section,
.robotics-section,
.ecology-section {
  display: flex;
  align-items: stretch;
}

.cosmology-section div,
.evolution-section div,
.biology-section div,
.robotics-section div,
.ecology-section div {
  flex: 1;
}

.cosmology-section,
.robotics-section {
  background-color: var(--green);
}
.evolution-section,
.ecology-section {
  background-color: var(--pink);
}
.biology-section {
  background-color: var(--blue);
}

.exhibitions-sections {
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.cosmology-text,
.evolution-text,
.biology-text,
.robotics-text,
.ecology-text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.exhibitions-sections p {
  margin-bottom: 1rem;
}

/*------------------------------------SPECIAL EVENTS------------------------------------*/
/*--------------------------------------------------------------------------------------*/
.aeronautics-professor-img {
  background-image: url(Images/aeronautic_professor.jpg);
}
.nightatmuseum-img {
  background-image: url(Images/dinosaur_skeleton.jpg);
}
.energetica-img22 {
  background-image: url(Images/energetica_exhibition_illustration2.jpg);
}

.aeronautics-professor-img,
.nightatmuseum-img,
.energetica-img22 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  max-width: 100%;
  align-items: stretch;
  min-height: 20rem;
}

.specialevents-section2 {
  display: flex;
  gap: 4rem;
}
.energetica-exhibition {
  display: flex;
  margin-bottom: 3rem;
}

.energetica-exhibition-text,
.energetica-img22 {
  flex: 1;
}
.aeronautics-professor-section-text,
.nightatmuseum-section-text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.energetica-exhibition {
  background-color: var(--pink);
}
.aeronautics-professor-section {
  background-color: var(--blue);
}
.nightatmuseum-section {
  background-color: var(--green);
}
/*------------------------------------ABOUT US------------------------------------*/
/*--------------------------------------------------------------------------------*/
.about-info-1-img {
  background-image: url(Images/dna.jpg);
}
.about-info-2-img {
  background-image: url(Images/test_tube_colorful.jpg);
}
.about-info-3-img {
  background-image: url(Images/dinosaur_skeletons.jpg);
}

.about-info-1-img,
.about-info-2-img,
.about-info-3-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 13rem;
  max-width: 100%;
}
.about-info-1,
.about-info-2,
.about-info-3 {
  display: flex;
  align-items: stretch;
}
.about-info-1 div,
.about-info-2 div,
.about-info-3 div {
  flex: 1;
}
.about-info-1,
.about-info-2 {
  margin-bottom: 2rem;
}
.about-info-1-text,
.about-info-3-text {
  margin-right: 1.5rem;
}
.about-info-2-text {
  margin-left: 1.5rem;
}
.about-info-1-text p,
.about-info-2-text p,
.about-info-3-text p {
  margin-bottom: 1rem;
}

/*------------------------------------GET INVOLVED------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.support-img {
  background-image: url(Images/girls_math.jpg);
}
.volunteer-img {
  background-image: url(Images/volunteer.jpg);
}
.internship-img {
  background-image: url(Images/student.jpg);
}

.support-img,
.volunteer-img,
.internship-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 15rem;
}
.support,
.volunteer,
.internship {
  display: flex;
  align-items: stretch;
}
.support div,
.volunteer div,
.internship div {
  flex: 1;
}
.pink {
  color: var(--pink);
}
.support,
.volunteer {
  margin-bottom: 3rem;
}
.support-text,
.volunteer-text,
.internship-text {
  margin-right: 1.5rem;
}
.support-text p,
.volunteer-text p,
.internship-text p {
  margin-bottom: 1rem;
}
.get-involved h2 {
  margin-top: 0;
}
/*------------------------------------EXPLORE----------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.for-kids-img {
  background-image: url(Images/boy_doing_science.jpg);
}
.for-teachers-img {
  background-image: url(Images/teacher.jpg);
}
.for-researchers-img {
  background-image: url(Images/researcher.jpg);
}

.for-kids-img,
.for-teachers-img,
.for-researchers-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 15rem;
}

.for-kids,
.for-teachers,
.for-researchers {
  display: flex;
  align-items: stretch;
}
.for-kids div,
.for-teachers div,
.for-researchers div {
  flex: 1;
}

.for-kids,
.for-teachers {
  margin-bottom: 3rem;
}
.for-kids-text,
.for-teachers-text,
.for-researchers-text {
  margin-right: 1.5rem;
}
.for-kids-text p,
.for-teachers-text p,
.for-researchers-text p {
  margin-bottom: 1rem;
}
.explore h2 {
  margin-top: 0;
}
/*------------------------------------VISIT US----------------------------------------*/
/*------------------------------------------------------------------------------------*/
iframe {
  width: 100%;
}
.address {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.parking,
.by-bus,
.accessibility,
.food-and-drink {
  margin-bottom: 3rem;
}
/*------------------------------------PRICES AND OPENING HOURS----------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
.prices p,
.opening-hours p {
  margin-bottom: 1rem;
}

.prices {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
